<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735698662838-7qepgkrb7a2l0r7sg0e1bntopukubdbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735698662838-7qepgkrb7a2l0r7sg0e1bntopukubdbk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYJW0dO2IrNFcpKEpqNznADLRICR2okdw</string>
	<key>GCM_SENDER_ID</key>
	<string>735698662838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c8993</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c8993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735698662838:ios:df15960150123d2e223d17</string>
</dict>
</plist>